---
- name: Set disable_ipv6 parameters in the sysctl configuration file
  ansible.posix.sysctl:
    name: "{{ item }}"
    value: "1"
    reload: false
  loop:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6
  notify: reboot_system
  tags:
    - configuration
    - ipv6
    - network

- name: disable IPV6 in firmware
  lineinfile:
    path: /boot/firmware/cmdline.txt
    regex: '(console=.*)$'
    line: '\1, ipv6.disable=1'
    backrefs: true
    state: present
  notify: reboot_system
  tags:
    - configuration
    - ipv6
    - network
    - firmware
