---
- name: Set disable_ipv6 parameters in the sysctl configuration file
  ansible.posix.sysctl:
    name: "{{ item }}"
    value: "1"
    reload: false
  loop:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6
  notify: reboot_system
  tags:
    - configuration
    - ipv6
    - network

- name: check if ipv6 aleady disable in firmware
  shell: grep -c "ipv6.disable" /boot/firmware/cmdline.txt || true
  check_mode: false
  register: ipv6_firmware_status

- name: disable IPV6 in firmware
  lineinfile:
    path: /boot/firmware/cmdline.txt
    regex: '(console=.*)$'
    line: '\1, ipv6.disable=1'
    backrefs: true
    state: present
  notify: reboot_system
  when: ipv6_firmware_status.stdout == "0"
  tags:
    - configuration
    - ipv6
    - network
    - firmware
