---
- name: harden SSH configuration
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^{{ item.key }}"
    line: "{{ item.key }} {{ item.value}}" 
  loop:
    - { key: 'PermitRootLogin', value: 'no' }
    - { key: 'PasswordAuthentication', value: 'yes' }
    - { key: 'ChallengeResponseAuthentication', value: 'no' }
    - { key: 'UsePAM', value: 'yes' }
    - { key: 'X11Forwarding', value: 'no' }
    - { key: 'AllowTcpForwarding', value: 'no' }
  notify:
    - restart_ssh
  tags:
    - configuration
    - ssh
